<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DEYSoftEntities" connectionString="metadata=res://*/Model.DeySoft.csdl|res://*/Model.DeySoft.ssdl|res://*/Model.DeySoft.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5HBHBN1\SQLEXPRESS;initial catalog=DEYSoft;user=deysoft;password=dey123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>